<% layout("layouts/boilerplate.ejs") %>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <br><br>
      <h3>Create New Post:</h3>

      <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">

        <!-- Title -->
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" id="title" name="listing[title]" placeholder="Enter catchy title" class="form-control" required>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please enter a title</div>
        </div>

        <!-- Description -->
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea id="description" name="listing[description]" rows="4" cols="12" class="form-control" required></textarea>
          <div class="invalid-feedback">Please enter a description</div>
        </div>

        <!-- Image URL -->
         <div class="mb-3">
          <label for="imageUrl" class="form-label">Upload listing Image</label>
          <input type="file" id="imageUrl" name="listing[image]" class="form-control" required>
          <div class="form-text">Leave blank for default image</div>
        </div>
        
        <!-- Price and Country -->
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input type="number" step="0.01" id="price" name="listing[price]" placeholder="Enter price" class="form-control" required>
            <div class="invalid-feedback">Enter a valid price</div>
            <div class="valid-feedback">Good!</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input type="text" id="country" name="listing[country]" placeholder="India" class="form-control" required>
            <div class="invalid-feedback">Enter country</div>
            <div class="valid-feedback">Looks good!</div>
          </div>
        </div>

        <!-- Location -->
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input type="text" id="location" name="listing[location]" placeholder="Enter location" class="form-control" required>
          <div class="invalid-feedback">Enter location</div>
          <div class="valid-feedback">Looks good!</div>
        </div>

        <!-- Submit -->
        <br>
        <button class="btn btn-dark Add-btn" type="submit">ADD</button>
        <br><br>
      </form>
    </div>
  </div>
</body>
